body {
    min-width: 220px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.count {
    width: 100px;
    display: inline-block;
}

#totalCalls {
    float: right;
}

.metrics {
    margin-bottom: 10px;
}

.keen-metric {
    padding: 5px 0;
    background: #0D98E6 !important;
}
.keen-metric-value {
    font-size: 24px;
    line-height: 24px;
}

.keen-metric-title {
    font-size: 12px;
}

#phonebank {
    border-bottom: 1px solid #ccc;
}

a {
    color: #0d98e6;
}
a:link, a:visited {
    text-decoration: none;
}
#dashboardLink {
    font-size: 12px;
}
